<!DOCTYPE html>
<html>
  <head>
    <title>Поехали!</title>
    <style>

      body {
        font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
        margin: 10px; /* Отступы на странице */
        background: #ffffff;
      }

      h1 {
        font-size: 25px; /* Размер шрифта */
        margin: 0; /* Убираем отступы */
        color: #000000; /* Цвет текста */
      }

      #content { /* Правая колонка */
        margin: 10px 5px 20px 5%; /* Значения отступов */
        background: #f8f8f8;
        padding: 5px; /* Поля вокруг текста */

      }

    </style>
  </head>
  <body>
    <div>
    <h1>Зачем?</h1>
    <p>Большинство населения не умеет давать в долг и не умеет брать в долг. Но все равно берут и дают.
      Из-за этого происходит много кривизны, конфликтов, разочарований, ссор и нечестности.
      Хотя для того, чтобы давать в долг знакомым людям есть вполне понятный инструмент - расписка.
      Несмотря на ее относительную простоту, большинство людей не знают как ее составлять, не хотят заморачиваться, стесняются ею воспользоваться, чтобы не упрекнули в формате “ты что мне не доверяешь?!”.
      Поэтому мы и создаем этот инструмент. На мой взгляд, задача не сложная, скорее требует, чтобы сделано было по человечески, удобно и понятно.
      Продвижением этого ресурса, как и поддержкой тех, кому долг все-таки не вернули несмотря на расписку, будет заниматься конкретная юридическая компания.
      Наша цель: cоздание удобного ресурса, на котором можно сгенерировать текст долговой расписки исходя из пользовательских параметров.
      После создания долговой расписки предоставляется возможность автоматического создания графика и сумм платежей, можно организовать механизм регулярного напоминания.
    </p></div>
  </body>
</html>

