
<%= form_for @table, url: 'create_table' do |f| %>

<body class="bg-light">
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Новая таблица</h2>
    <p class="lead">Заполни форму для генерации страницы с таблицой выплат, её можно отправить</p>
  </div>
  <div class="row">
    <div class='col-md-12 order-md-1'>
      <h4 class="mb-3">Сумма долга</h4>
      <div class="row">
        <div class='col-sm-12'>
          <label for="firstName">Сумма</label>
          <input type="text" class="form-control" id="debt_summ" name="table[debt_summ]" placeholder="1000" value="" required >
        </div>
      </div>

      <hr class="mb-4">
      <h4 class="mb-3">Дата выдачи долга</h4>
      <div class="row">
        <div class='col-sm-4'>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Число</label>
            <select class="form-control" id="issue_day" name="table[issue_day]">
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
            </select>
          </div>
        </div>
        <div class='col-sm-4'>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Месяц</label>
            <select class="form-control" id="issue_month" name="table[issue_month]">
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <label for="exampleFormControlSelect1">Год</label>
          <input type="text" class="form-control" id="issue_year" name="table[issue_year]" placeholder="2019" value="" required >
        </div>
      </div>

      <hr class="mb-4">
      <h4 class="mb-3">Дата возвращения долга</h4>
      <div class="row">
        <div class='col-sm-4'>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Число</label>
            <select class="form-control" id="return_day" name="table[return_day]">
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
            </select>
          </div>
        </div>
        <div class='col-sm-4'>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Месяц</label>
            <select class="form-control" id="return_month" name="table[return_month]">
              <option>01</option>
              <option>02</option>
              <option>03</option>
              <option>04</option>
              <option>05</option>
              <option>06</option>
              <option>07</option>
              <option>08</option>
              <option>09</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <label for="exampleFormControlSelect1">Год</label>
          <input type="text" class="form-control" id="return_year" name="table[return_year]" placeholder="2019" value="" required >
        </div>
      </div>



      <hr class="mb-4">
      <h4 class="mb-3">Процент за месяц</h4>
      <div class="row">
        <div class="col-sm-12">
          <input type="text" class="form-control" id="month_percent" name="table[month_percent]" placeholder="10%" value="" required >
        </div>
      </div>

      <hr class="mb-4">
      <h4 class="mb-3">Санкции при просрочке</h4>
      <div class="row">
        <div class="col-sm-12">
          <label for="exampleFormControlSelect1">Процент при просрочке (за каждый день просрочки)</label>
          <input type="text" class="form-control" id="fine_percent" name="table[fine_percent]" placeholder="5%" value="" required >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label for="exampleFormControlSelect1">Выплата при просрочке</label>
          <input type="text" class="form-control" id="fine_summ" name="table[fine_summ]" placeholder="10000" value="" required >
        </div>
      </div>

      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" name="commit"  data-disable-with="Create Table" type="submit">Создать</button>
      <%= f.submit %>
      <hr class="mb-4">
    </div>


  </div>
</div>
</body>
<% end %>